.*
!.gitignore
!.github
!.dockerignore
!.gitlab-ci.yml

output
output-es
generated-docs
bower_components
node_modules

package-lock.json
*.lock

dist/
prod/*

api.json

openapitools.json

src/App/Api/Foreign