.*
!.gitignore
!.github
!.dockerignore
!.gitlab-ci.yml
!.docker-nix

output
output-es
generated-docs
bower_components
node_modules

package-lock.json
*.lock

prod/*

api.json

openapitools.json

src/App/Api/Foreign

dist/app.js